.media:not(body) {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2 !important;
}
.media:not(body).has-parallax {
  background-attachment: fixed;
}
@supports (-webkit-overflow-scrolling: touch) {
  .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
@media (prefers-reduced-motion: reduce) {
  .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
.media:not(body).is-covered {
  background-size: cover;
}
.media:not(body).is-contained {
  background-size: contain;
}
.media:not(body).is-repeated {
  background-repeat: repeat;
  background-size: auto;
}
.media:not(body) img {
  opacity: 0;
}

.media-text {
  /*!rtl:begin:ignore*/
  direction: ltr;
  /*!rtl:end:ignore*/
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  padding: 0;
  position: relative;
  overflow: hidden !important;
  text-align: center;
}
.media-text, .media-text.jumbotron {
  padding: 0;
}
.media-text, .media-text .container {
  overflow: hidden;
}
.media-text .content {
  direction: ltr;
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  padding: 0 var(--wa-gutter-x);
  margin: var(--wa-jumbotron-padding-y) auto;
  word-break: break-word;
}
.media-text .content > h1:last-child, .media-text .content > h2:last-child, .media-text .content > h3:last-child, .media-text .content > h4:last-child, .media-text .content > h5:last-child, .media-text .content > p:last-child, .media-text .content > div:last-child, .media-text .content > ol:last-child, .media-text .content > ul:last-child, .media-text .content > a:last-child, .media-text .content > btn:last-child, .media-text .content > img:last-child, .media-text .content > blockquote:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.media-text .content.padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.media-text .content.padding-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.media-text .content.padding-large {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
> .media-text .content {
  flex: 0 0 auto;
  width: 50%;
  font-size: 1rem;
  line-height: 1.65;
}
> .media-text .content p, > .media-text .content h4, > .media-text .content ul, > .media-text .content ol {
  font-size: inherit;
}
> .media-text .content p, > .media-text .content h3, > .media-text .content h4, > .media-text .content ul, > .media-text .content ol {
  line-height: inherit;
}
.media-text .media {
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 101%;
  min-height: 400px;
  overflow: hidden;
  padding: 0;
}
.media-text .media figure {
  visibility: hidden;
}
.media-text .media img, .media-text .media video {
  height: auto;
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}
.media-text.circle-media {
  padding: var(--wa-jumbotron-padding-y) var(--wa-gutter-x, 0.75rem) !important;
}
.media-text.circle-media .media {
  border-radius: 100%;
  height: 0 !important;
  min-height: unset;
  padding-bottom: 100%;
  width: 100% !important;
}
@media (min-width: 576px) {
  .media-text.alignfull .content {
    max-width: 240px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .media-text.alignfull .content {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .media-text.alignfull .content {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .media-text.alignfull .content {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .media-text.alignfull .content {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
  }
}
.media-text.has-media-on-the-right {
  grid-template-columns: 1fr 50%;
}
@media (min-width: 768px) {
  .media-text.has-media-on-the-right .media {
    /*!rtl:begin:ignore*/
    grid-column: 2;
    /*!rtl:end:ignore*/
  }
}
.media-text.has-media-on-the-right .content {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
.media-text.has-media-on-the-left .media {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
.media-text.has-media-on-the-left .content {
  /*!rtl:begin:ignore*/
  grid-column: 2;
  /*!rtl:end:ignore*/
}
.media-text.is-vertically-aligned-top .content, .media-text.is-vertically-aligned-top .media {
  align-self: start;
}
.media-text .content, .media-text .media, .media-text.is-vertically-aligned-center .content, .media-text.is-vertically-aligned-center .media {
  align-self: center;
}
.media-text.is-vertically-aligned-bottom .content, .media-text.is-vertically-aligned-bottom .media {
  align-self: end;
}

.bg-block.has-colour-bg {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.has-overlay .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.overlay-block.has-colour-bg {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}

.has-custom-separator {
  min-height: 130px;
}
.has-custom-separator.separator-shape-top {
  padding-top: 130px;
}
.has-custom-separator.separator-shape-top .container {
  margin-top: var(--wa-jumbotron-padding) -y/2;
}
.has-custom-separator.separator-shape-top .media, .has-custom-separator.separator-shape-top .bg-block, .has-custom-separator.separator-shape-top .svg-container {
  top: 130px;
}
.has-custom-separator.separator-shape-top:not(.prev-block-has-bottom-shape) {
  margin-top: -130px;
  z-index: 2;
}
.has-custom-separator.separator-shape-bottom {
  padding-bottom: 130px;
}
.has-custom-separator.separator-shape-bottom .container {
  margin-bottom: var(--wa-jumbotron-padding) -y/2;
}
.has-custom-separator.separator-shape-top.separator-shape-bottom {
  min-height: 260px;
}
.has-custom-separator.separator-shape-top.separator-shape-bottom .media, .has-custom-separator.separator-shape-top.separator-shape-bottom .bg-block {
  height: calc(100% - 260px);
}
.has-custom-separator.separator-shape-top.separator-shape-bottom .svg-container {
  height: calc(100% - 260px);
}
.has-custom-separator .media, .has-custom-separator .bg-block, .has-custom-separator .svg-container {
  height: calc(100% - 130px);
}
.has-custom-separator .svg-container {
  bottom: 0;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  position: absolute;
}
.has-custom-separator .svg-container .shape {
  position: absolute;
  width: 100%;
}
.has-custom-separator .svg-container .shape.top {
  align-items: flex-end;
  display: flex;
  top: 1px;
  transform: translateY(-100%);
}
.has-custom-separator .svg-container .shape.top:not(.inverted) svg {
  transform: scaleY(-1);
}
.has-custom-separator .svg-container .shape.top.inverted {
  transform: translateY(-100%) rotate(180deg);
}
.has-custom-separator .svg-container .shape.bottom {
  bottom: 1px;
  transform: translateY(100%);
}
.has-custom-separator .svg-container .shape.bottom.inverted {
  transform: translateY(100%) rotate(180deg);
}
.has-custom-separator .svg-container svg.child-fill-primary {
  fill: var(--wa-primary);
}
.has-custom-separator .svg-container svg.child-fill-secondary {
  fill: var(--wa-var(--wa-secondary));
}
.has-custom-separator .svg-container svg.child-fill-tertiary {
  fill: var(--wa-var(--wa-tertiary));
}

.prev-block-has-bottom-shape.has-custom-separator {
  margin-top: -130px;
  padding-top: 130px;
}
.prev-block-has-bottom-shape.has-custom-separator.jumbotron:not(.separator-shape-top):not(.block-editor-block-list__block) .media, .prev-block-has-bottom-shape.has-custom-separator.jumbotron:not(.separator-shape-top):not(.block-editor-block-list__block) .bg-block {
  top: 0;
  z-index: -1;
}

.next-block-has-top-shape.has-custom-separator {
  padding-bottom: 130px;
}
.next-block-has-top-shape.has-custom-separator.jumbotron.separator-shape-bottom .svg-container {
  z-index: 0;
}

@media (min-width: 576px) {
  .jumbotron.size-container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .jumbotron.size-container {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  .jumbotron.size-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .jumbotron.size-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  .jumbotron.size-container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
}
.jumbotron.h-100 {
  height: 100vh !important;
}

.wp-block-column, .image-h-100 {
  overflow: hidden;
}

.image-h-100 .wp-block-image {
  margin: 0;
}
.image-h-100 .wp-block-image img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.image-h-100 .wp-block-image, .image-h-100 .wp-block-image img {
  height: 100%;
}
.image-h-100 .wp-block-image img {
  max-width: none;
  object-fit: cover;
  width: 100%;
}
.image-h-100 .wp-block-image figcaption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  font-weight: 700;
  margin: 0;
}

.square-image .wp-block-image {
  position: relative;
  display: block;
  position: relative;
}
.square-image .wp-block-image:before {
  background-color: #000;
  content: "";
  left: 0;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.square-image .wp-block-image:before {
  content: "";
  padding-top: 100%;
  display: block;
}
.square-image .wp-block-image figure {
  padding-bottom: 100%;
}
.square-image .wp-block-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.square-image .wp-block-image figcaption {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  font-weight: 700;
  margin: 0;
  z-index: 10;
}

@media (min-width: 576px) {
  > p:not(.alignfull) {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  > p:not(.alignfull) {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  > p:not(.alignfull) {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  > p:not(.alignfull) {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  > p:not(.alignfull) {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
  }
}

.overlay {
  position: relative;
}
.overlay:after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  height: 100%;
  padding-top: 100%;
  top: 0;
  width: 100%;
}
.overlay.overlay-black-30:after {
  background: rgba(0, 0, 0, 0.3);
}

#main .accordion.wp-block-wa-accordion {
  align-items: center;
  background-color: unset;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  /**
  * Set a default background color for has-background-dim _unless_ it includes another
  * background-color class (e.g. has-green-background-color). The presence of another
  * background-color class implies that another style will provide the background color
  * for the overlay.
  *
  * See:
  *   - Issue with background color specificity: https://github.com/WordPress/gutenberg/issues/26545
  *   - Issue with alternative fix: https://github.com/WordPress/gutenberg/issues/26545
  */
  position: relative;
}
#main .accordion.wp-block-wa-accordion .media-bg {
  background-color: transparent !important;
}
#main .accordion.wp-block-wa-accordion .container {
  z-index: 10;
}
#main .accordion.wp-block-wa-accordion .has-background-dim.has-background-gradient {
  background-color: transparent;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-10:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-10 .container-background {
  opacity: 0.1;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-20:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-20 .container-background {
  opacity: 0.2;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-30:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-30 .container-background {
  opacity: 0.3;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-40:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-40 .container-background {
  opacity: 0.4;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-50:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-50 .container-background {
  opacity: 0.5;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-60:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-60 .container-background {
  opacity: 0.6;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-70:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-70 .container-background {
  opacity: 0.7;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-80:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-80 .container-background {
  opacity: 0.8;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-90:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-90 .container-background {
  opacity: 0.9;
}
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-100:not(.has-background-gradient)::before,
#main .accordion.wp-block-wa-accordion.has-background-dim.has-background-dim-100 .container-background {
  opacity: 1;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-0 {
  opacity: 0;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-10 {
  opacity: 0.1;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-20 {
  opacity: 0.2;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-30 {
  opacity: 0.3;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-40 {
  opacity: 0.4;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-50 {
  opacity: 0.5;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-60 {
  opacity: 0.6;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-70 {
  opacity: 0.7;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-80 {
  opacity: 0.8;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-90 {
  opacity: 0.9;
}
#main .accordion.wp-block-wa-accordion .container-background.has-background-dim.has-background-dim-100 {
  opacity: 1;
}
#main .accordion.wp-block-wa-accordion.alignleft, #main .accordion.wp-block-wa-accordion.alignright {
  max-width: 420px;
  width: 100%;
}
#main .accordion.wp-block-wa-accordion::after {
  display: block;
  content: "";
  font-size: 0;
  min-height: inherit;
}
@supports (position: sticky) {
  #main .accordion.wp-block-wa-accordion::after {
    content: none;
  }
}
#main .accordion.wp-block-wa-accordion.aligncenter, #main .accordion.wp-block-wa-accordion.alignleft, #main .accordion.wp-block-wa-accordion.alignright {
  display: flex;
}
#main .accordion.wp-block-wa-accordion .has-text-colour p, #main .accordion.wp-block-wa-accordion .has-text-colour h1, #main .accordion.wp-block-wa-accordion .has-text-colour h2, #main .accordion.wp-block-wa-accordion .has-text-colour h3, #main .accordion.wp-block-wa-accordion .has-text-colour h4, #main .accordion.wp-block-wa-accordion .has-text-colour h5, #main .accordion.wp-block-wa-accordion .has-text-colour h6 {
  color: inherit;
}
#main .accordion.wp-block-wa-accordion.is-vertically-aligned-top {
  align-items: flex-start;
}
#main .accordion.wp-block-wa-accordion.is-vertically-aligned-center {
  align-items: center;
}
#main .accordion.wp-block-wa-accordion.is-vertically-aligned-bottom {
  align-items: flex-end;
}
#main .wp-block-wa-collapse .item .control-collapse .more {
  display: none;
}
#main .wp-block-wa-collapse .item .control-collapse .less {
  display: initial;
}
#main .wp-block-wa-collapse .item .control-collapse.collapsed .more {
  display: initial;
}
#main .wp-block-wa-collapse .item .control-collapse.collapsed .less {
  display: none;
}
#main .wp-block-wa-block-button__link {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: calc(0.667em + 2px) calc(1.333em + 2px);
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;
}
#main .wp-block-wa-block-button__link:hover, #main .wp-block-wa-block-button__link:focus, #main .wp-block-wa-block-button__link:active, #main .wp-block-wa-block-button__link:visited {
  color: #fff;
}
#main .wp-block-wa-block-button__link.aligncenter {
  text-align: center;
}
#main .wp-block-wa-block-button__link.alignright {
  /*rtl:ignore*/
  text-align: right;
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.has-custom-width {
  max-width: none;
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.has-custom-width .wp-block-wa-block-button__link {
  width: 100%;
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.has-custom-font-size .wp-block-wa-block-button__link {
  font-size: inherit;
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.wp-block-wa-block-button__width-25 {
  width: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.wp-block-wa-block-button__width-50 {
  width: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.5);
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.wp-block-wa-block-button__width-75 {
  width: calc(75% - var(--wp--style--block-gap, 0.5em) * 0.25);
}
#main .wp-block-wa-block-buttons > .wp-block-wa-block-button.wp-block-wa-block-button__width-100 {
  width: 100%;
  flex-basis: 100%;
}
#main .wp-block-wa-block-buttons.is-vertical > .wp-block-wa-block-button.wp-block-wa-block-button__width-25 {
  width: 25%;
}
#main .wp-block-wa-block-buttons.is-vertical > .wp-block-wa-block-button.wp-block-wa-block-button__width-50 {
  width: 50%;
}
#main .wp-block-wa-block-buttons.is-vertical > .wp-block-wa-block-button.wp-block-wa-block-button__width-75 {
  width: 75%;
}
#main .wp-block-wa-buttons {
  --wa-gutter-x: 15px;
  --wa-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--wa-gutter-y));
  margin-right: calc(-0.5 * var(--wa-gutter-x));
  margin-left: calc(-0.5 * var(--wa-gutter-x));
  /* stylelint-disable indentation */
}
#main .wp-block-wa-buttons .wa-block-wa-button {
  padding-right: calc(var(--wa-gutter-x) * 0.5);
  padding-left: calc(var(--wa-gutter-x) * 0.5);
}
#main .wp-block-wa-buttons.is-vertical {
  flex-direction: column;
}
#main .wp-block-wa-buttons.is-vertical > .wa-block-button:last-child {
  margin-bottom: 0;
}
#main .wp-block-wa-buttons > .wa-block-button {
  display: inline-block;
  margin: 0;
}
#main .wp-block-wa-buttons.is-content-justification-left {
  justify-content: flex-start;
}
#main .wp-block-wa-buttons.is-content-justification-left.is-vertical {
  align-items: flex-start;
}
#main .wp-block-wa-buttons.is-content-justification-center {
  justify-content: center;
}
#main .wp-block-wa-buttons.is-content-justification-center.is-vertical {
  align-items: center;
}
#main .wp-block-wa-buttons.is-content-justification-right {
  justify-content: flex-end;
}
#main .wp-block-wa-buttons.is-content-justification-right.is-vertical {
  align-items: flex-end;
}
#main .wp-block-wa-buttons.is-content-justification-space-between {
  justify-content: space-between;
}
#main .wp-block-wa-buttons.aligncenter {
  text-align: center;
}
#main .wp-block-wa-buttons:not(.is-content-justification-space-between,
.is-content-justification-right,
.is-content-justification-left,
.is-content-justification-center) .wa-block-button.aligncenter {
  /* stylelint-enable indentation */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#main .wa-block-button.aligncenter {
  text-align: center;
}
#main .wp-block-wa-container {
  align-items: center;
  background-color: unset;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  /**
  * Set a default background color for has-background-dim _unless_ it includes another
  * background-color class (e.g. has-green-background-color). The presence of another
  * background-color class implies that another style will provide the background color
  * for the overlay.
  *
  * See:
  *   - Issue with background color specificity: https://github.com/WordPress/gutenberg/issues/26545
  *   - Issue with alternative fix: https://github.com/WordPress/gutenberg/issues/26545
  */
  position: relative;
}
#main .wp-block-wa-container .media:not(body) {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2 !important;
}
#main .wp-block-wa-container .media:not(body).has-parallax {
  background-attachment: fixed;
}
@supports (-webkit-overflow-scrolling: touch) {
  #main .wp-block-wa-container .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
@media (prefers-reduced-motion: reduce) {
  #main .wp-block-wa-container .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
#main .wp-block-wa-container .media:not(body).is-covered {
  background-size: cover;
}
#main .wp-block-wa-container .media:not(body).is-contained {
  background-size: contain;
}
#main .wp-block-wa-container .media:not(body).is-repeated {
  background-repeat: repeat;
  background-size: auto;
}
#main .wp-block-wa-container .media:not(body) img {
  opacity: 0;
}
#main .wp-block-wa-container .media-text {
  /*!rtl:begin:ignore*/
  direction: ltr;
  /*!rtl:end:ignore*/
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  padding: 0;
  position: relative;
  overflow: hidden !important;
  text-align: center;
}
#main .wp-block-wa-container .media-text, #main .wp-block-wa-container .media-text.jumbotron {
  padding: 0;
}
#main .wp-block-wa-container .media-text, #main .wp-block-wa-container .media-text .container {
  overflow: hidden;
}
#main .wp-block-wa-container .media-text .content {
  direction: ltr;
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  padding: 0 var(--wa-gutter-x);
  margin: var(--wa-jumbotron-padding-y) auto;
  word-break: break-word;
}
#main .wp-block-wa-container .media-text .content > h1:last-child, #main .wp-block-wa-container .media-text .content > h2:last-child, #main .wp-block-wa-container .media-text .content > h3:last-child, #main .wp-block-wa-container .media-text .content > h4:last-child, #main .wp-block-wa-container .media-text .content > h5:last-child, #main .wp-block-wa-container .media-text .content > p:last-child, #main .wp-block-wa-container .media-text .content > div:last-child, #main .wp-block-wa-container .media-text .content > ol:last-child, #main .wp-block-wa-container .media-text .content > ul:last-child, #main .wp-block-wa-container .media-text .content > a:last-child, #main .wp-block-wa-container .media-text .content > btn:last-child, #main .wp-block-wa-container .media-text .content > img:last-child, #main .wp-block-wa-container .media-text .content > blockquote:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
#main .wp-block-wa-container .media-text .content.padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#main .wp-block-wa-container .media-text .content.padding-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#main .wp-block-wa-container .media-text .content.padding-large {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
> #main .wp-block-wa-container .media-text .content {
  flex: 0 0 auto;
  width: 50%;
  font-size: 1rem;
  line-height: 1.65;
}
> #main .wp-block-wa-container .media-text .content p, > #main .wp-block-wa-container .media-text .content h4, > #main .wp-block-wa-container .media-text .content ul, > #main .wp-block-wa-container .media-text .content ol {
  font-size: inherit;
}
> #main .wp-block-wa-container .media-text .content p, > #main .wp-block-wa-container .media-text .content h3, > #main .wp-block-wa-container .media-text .content h4, > #main .wp-block-wa-container .media-text .content ul, > #main .wp-block-wa-container .media-text .content ol {
  line-height: inherit;
}
#main .wp-block-wa-container .media-text .media {
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 101%;
  min-height: 400px;
  overflow: hidden;
  padding: 0;
}
#main .wp-block-wa-container .media-text .media figure {
  visibility: hidden;
}
#main .wp-block-wa-container .media-text .media img, #main .wp-block-wa-container .media-text .media video {
  height: auto;
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}
#main .wp-block-wa-container .media-text.circle-media {
  padding: var(--wa-jumbotron-padding-y) var(--wa-gutter-x, 0.75rem) !important;
}
#main .wp-block-wa-container .media-text.circle-media .media {
  border-radius: 100%;
  height: 0 !important;
  min-height: unset;
  padding-bottom: 100%;
  width: 100% !important;
}
@media (min-width: 576px) {
  #main .wp-block-wa-container .media-text.alignfull .content {
    max-width: 240px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  #main .wp-block-wa-container .media-text.alignfull .content {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  #main .wp-block-wa-container .media-text.alignfull .content {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  #main .wp-block-wa-container .media-text.alignfull .content {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  #main .wp-block-wa-container .media-text.alignfull .content {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
  }
}
#main .wp-block-wa-container .media-text.has-media-on-the-right {
  grid-template-columns: 1fr 50%;
}
@media (min-width: 768px) {
  #main .wp-block-wa-container .media-text.has-media-on-the-right .media {
    /*!rtl:begin:ignore*/
    grid-column: 2;
    /*!rtl:end:ignore*/
  }
}
#main .wp-block-wa-container .media-text.has-media-on-the-right .content {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-container .media-text.has-media-on-the-left .media {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-container .media-text.has-media-on-the-left .content {
  /*!rtl:begin:ignore*/
  grid-column: 2;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-container .media-text.is-vertically-aligned-top .content, #main .wp-block-wa-container .media-text.is-vertically-aligned-top .media {
  align-self: start;
}
#main .wp-block-wa-container .media-text .content, #main .wp-block-wa-container .media-text .media, #main .wp-block-wa-container .media-text.is-vertically-aligned-center .content, #main .wp-block-wa-container .media-text.is-vertically-aligned-center .media {
  align-self: center;
}
#main .wp-block-wa-container .media-text.is-vertically-aligned-bottom .content, #main .wp-block-wa-container .media-text.is-vertically-aligned-bottom .media {
  align-self: end;
}
#main .wp-block-wa-container .media-bg {
  background-color: transparent !important;
}
#main .wp-block-wa-container .container {
  z-index: 10;
}
#main .wp-block-wa-container .has-background-dim.has-background-gradient {
  background-color: transparent;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-10:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-10 .container-background {
  opacity: 0.1;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-20:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-20 .container-background {
  opacity: 0.2;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-30:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-30 .container-background {
  opacity: 0.3;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-40:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-40 .container-background {
  opacity: 0.4;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-50:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-50 .container-background {
  opacity: 0.5;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-60:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-60 .container-background {
  opacity: 0.6;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-70:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-70 .container-background {
  opacity: 0.7;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-80:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-80 .container-background {
  opacity: 0.8;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-90:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-90 .container-background {
  opacity: 0.9;
}
#main .wp-block-wa-container.has-background-dim.has-background-dim-100:not(.has-background-gradient)::before,
#main .wp-block-wa-container.has-background-dim.has-background-dim-100 .container-background {
  opacity: 1;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-0 {
  opacity: 0;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-10 {
  opacity: 0.1;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-20 {
  opacity: 0.2;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-30 {
  opacity: 0.3;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-40 {
  opacity: 0.4;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-50 {
  opacity: 0.5;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-60 {
  opacity: 0.6;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-70 {
  opacity: 0.7;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-80 {
  opacity: 0.8;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-90 {
  opacity: 0.9;
}
#main .wp-block-wa-container .container-background.has-background-dim.has-background-dim-100 {
  opacity: 1;
}
#main .wp-block-wa-container.alignleft, #main .wp-block-wa-container.alignright {
  max-width: 420px;
  width: 100%;
}
#main .wp-block-wa-container::after {
  display: block;
  content: "";
  font-size: 0;
  min-height: inherit;
}
@supports (position: sticky) {
  #main .wp-block-wa-container::after {
    content: none;
  }
}
#main .wp-block-wa-container.aligncenter, #main .wp-block-wa-container.alignleft, #main .wp-block-wa-container.alignright {
  display: flex;
}
#main .wp-block-wa-container .has-text-colour p, #main .wp-block-wa-container .has-text-colour h1, #main .wp-block-wa-container .has-text-colour h2, #main .wp-block-wa-container .has-text-colour h3, #main .wp-block-wa-container .has-text-colour h4, #main .wp-block-wa-container .has-text-colour h5, #main .wp-block-wa-container .has-text-colour h6 {
  color: inherit;
}
#main .wp-block-wa-container.is-vertically-aligned-top {
  align-items: flex-start;
}
#main .wp-block-wa-container.is-vertically-aligned-center {
  align-items: center;
}
#main .wp-block-wa-container.is-vertically-aligned-bottom {
  align-items: flex-end;
}
#main .wp-block-wa-container.has-custom-content-position .inner-container {
  margin: 0;
  width: auto;
}
#main .wp-block-wa-container.hero {
  height: 55vh;
}
#main .jumbotron {
  transition: padding 0.35s ease, height 0.35s ease;
}
#main .jumbotron.collapsing {
  padding: 0;
}
#main .wp-block-wa-google-maps-fullheight {
  height: 100vh;
}
body.admin-bar #main .wp-block-wa-google-maps-fullheight {
  height: calc(100vh - 32px);
}
@media screen and (max-width: 782px) {
  body.admin-bar #main .wp-block-wa-google-maps-fullheight {
    height: calc(100vh - 42px);
  }
}
@media screen and (max-width: 600px) {
  body.admin-bar #main .wp-block-wa-google-maps-fullheight {
    height: 100vh;
  }
}
#main .wp-block-wa-google-maps {
  /*&.jumbotron {
      &[data-align="full"] {
          .container {
              padding-left: 0; padding-right: 0;
              max-width: 100%;
              width: 100%;
          }
      }
      .container {
          padding-top: 0; padding-bottom: 0;
      }
  }*/
  /*position: relative;
  background-color: #e2e2e2;

  &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      width: 36px;
      height: 36px;
      background-image: url("../images/google-maps-marker.svg");
      opacity: .3;
      transform: translateY(-50%) translateX(-50%);
  }

  > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: .3;
      transform: translateX(-50%) translateY(-50%);
  }*/
}
#main .wp-block-wa-google-maps .gm-style, #main .wp-block-wa-google-maps .gm-style div, #main .wp-block-wa-google-maps .gm-style img {
  transition: 0.18s width, 0.18s height;
}
#main .wp-block-wa-google-maps .gm-style div {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#main .wp-block-wa-group {
  box-sizing: border-box;
}
#main .wp-block-wa-group:not([class*=pb-]) > h1:last-child, #main .wp-block-wa-group:not([class*=pb-]) > h2:last-child, #main .wp-block-wa-group:not([class*=pb-]) > h3:last-child, #main .wp-block-wa-group:not([class*=pb-]) > h4:last-child, #main .wp-block-wa-group:not([class*=pb-]) > h5:last-child, #main .wp-block-wa-group:not([class*=pb-]) > p:last-child, #main .wp-block-wa-group:not([class*=pb-]) > div:last-child, #main .wp-block-wa-group:not([class*=pb-]) > ol:last-child, #main .wp-block-wa-group:not([class*=pb-]) > ul:last-child, #main .wp-block-wa-group:not([class*=pb-]) > a:last-child, #main .wp-block-wa-group:not([class*=pb-]) > btn:last-child, #main .wp-block-wa-group:not([class*=pb-]) > img:last-child, #main .wp-block-wa-group:not([class*=pb-]) > blockquote:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > h1:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > h2:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > h3:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > h4:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > h5:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > p:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > div:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > ol:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > ul:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > a:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > btn:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > img:last-child, #main .wp-block-wa-group .parent:not([class*=pb-]) > blockquote:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
#main .wp-block-wa-group.container.parent > div, #main .wp-block-wa-group .child {
  padding: 1rem;
}
#main .wp-block-wa-container .wp-block-wa-group:not(:last-child) {
  padding-bottom: 1rem !important;
}
#main .wp-block-wa-media-text.jumbotron {
  /*
  * Here we here not able to use a mobile first CSS approach.
  * Custom widths are set using inline styles, and on mobile,
  * we need 100% width, so we use important to overwrite the inline style.
  * If the style were set on mobile first, on desktop styles,
  * we would have no way of setting the style again to the inline style.
  */
}
#main .wp-block-wa-media-text.jumbotron .media:not(body) {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  object-fit: cover;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2 !important;
}
#main .wp-block-wa-media-text.jumbotron .media:not(body).has-parallax {
  background-attachment: fixed;
}
@supports (-webkit-overflow-scrolling: touch) {
  #main .wp-block-wa-media-text.jumbotron .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
@media (prefers-reduced-motion: reduce) {
  #main .wp-block-wa-media-text.jumbotron .media:not(body).has-parallax {
    background-attachment: scroll;
  }
}
#main .wp-block-wa-media-text.jumbotron .media:not(body).is-covered {
  background-size: cover;
}
#main .wp-block-wa-media-text.jumbotron .media:not(body).is-contained {
  background-size: contain;
}
#main .wp-block-wa-media-text.jumbotron .media:not(body).is-repeated {
  background-repeat: repeat;
  background-size: auto;
}
#main .wp-block-wa-media-text.jumbotron .media:not(body) img {
  opacity: 0;
}
#main .wp-block-wa-media-text.jumbotron .media-text {
  /*!rtl:begin:ignore*/
  direction: ltr;
  /*!rtl:end:ignore*/
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  padding: 0;
  position: relative;
  overflow: hidden !important;
  text-align: center;
}
#main .wp-block-wa-media-text.jumbotron .media-text, #main .wp-block-wa-media-text.jumbotron .media-text.jumbotron {
  padding: 0;
}
#main .wp-block-wa-media-text.jumbotron .media-text, #main .wp-block-wa-media-text.jumbotron .media-text .container {
  overflow: hidden;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content {
  direction: ltr;
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  padding: 0 var(--wa-gutter-x);
  margin: var(--wa-jumbotron-padding-y) auto;
  word-break: break-word;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content > h1:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > h2:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > h3:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > h4:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > h5:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > p:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > div:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > ol:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > ul:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > a:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > btn:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > img:last-child, #main .wp-block-wa-media-text.jumbotron .media-text .content > blockquote:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content.padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content.padding-medium {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content.padding-large {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
> #main .wp-block-wa-media-text.jumbotron .media-text .content {
  flex: 0 0 auto;
  width: 50%;
  font-size: 1rem;
  line-height: 1.65;
}
> #main .wp-block-wa-media-text.jumbotron .media-text .content p, > #main .wp-block-wa-media-text.jumbotron .media-text .content h4, > #main .wp-block-wa-media-text.jumbotron .media-text .content ul, > #main .wp-block-wa-media-text.jumbotron .media-text .content ol {
  font-size: inherit;
}
> #main .wp-block-wa-media-text.jumbotron .media-text .content p, > #main .wp-block-wa-media-text.jumbotron .media-text .content h3, > #main .wp-block-wa-media-text.jumbotron .media-text .content h4, > #main .wp-block-wa-media-text.jumbotron .media-text .content ul, > #main .wp-block-wa-media-text.jumbotron .media-text .content ol {
  line-height: inherit;
}
#main .wp-block-wa-media-text.jumbotron .media-text .media {
  /*!rtl:begin:ignore*/
  grid-row: 1;
  /*!rtl:end:ignore*/
  position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  height: 101%;
  min-height: 400px;
  overflow: hidden;
  padding: 0;
}
#main .wp-block-wa-media-text.jumbotron .media-text .media figure {
  visibility: hidden;
}
#main .wp-block-wa-media-text.jumbotron .media-text .media img, #main .wp-block-wa-media-text.jumbotron .media-text .media video {
  height: auto;
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}
#main .wp-block-wa-media-text.jumbotron .media-text.circle-media {
  padding: var(--wa-jumbotron-padding-y) var(--wa-gutter-x, 0.75rem) !important;
}
#main .wp-block-wa-media-text.jumbotron .media-text.circle-media .media {
  border-radius: 100%;
  height: 0 !important;
  min-height: unset;
  padding-bottom: 100%;
  width: 100% !important;
}
@media (min-width: 576px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.alignfull .content {
    max-width: 240px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.alignfull .content {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 992px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.alignfull .content {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.alignfull .content {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1400px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.alignfull .content {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
  }
}
#main .wp-block-wa-media-text.jumbotron .media-text.has-media-on-the-right {
  grid-template-columns: 1fr 50%;
}
@media (min-width: 768px) {
  #main .wp-block-wa-media-text.jumbotron .media-text.has-media-on-the-right .media {
    /*!rtl:begin:ignore*/
    grid-column: 2;
    /*!rtl:end:ignore*/
  }
}
#main .wp-block-wa-media-text.jumbotron .media-text.has-media-on-the-right .content {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-media-text.jumbotron .media-text.has-media-on-the-left .media {
  /*!rtl:begin:ignore*/
  grid-column: 1;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-media-text.jumbotron .media-text.has-media-on-the-left .content {
  /*!rtl:begin:ignore*/
  grid-column: 2;
  /*!rtl:end:ignore*/
}
#main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-top .content, #main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-top .media {
  align-self: start;
}
#main .wp-block-wa-media-text.jumbotron .media-text .content, #main .wp-block-wa-media-text.jumbotron .media-text .media, #main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-center .content, #main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-center .media {
  align-self: center;
}
#main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-bottom .content, #main .wp-block-wa-media-text.jumbotron .media-text.is-vertically-aligned-bottom .media {
  align-self: end;
}
#main .wp-block-wa-media-text.jumbotron .wa-buttons {
  margin: 1.2rem auto 0;
  text-align: center;
  width: 100%;
}
#main .wp-block-wa-media-text.jumbotron .wa-buttons .btn {
  padding-left: 1.44rem;
  padding-right: 1.44rem;
}
#main .wp-block-wa-media-text.jumbotron p, #main .wp-block-wa-media-text.jumbotron ul, #main .wp-block-wa-media-text.jumbotron ol {
  margin-bottom: 1.2rem;
  text-align: left;
}
#main .wp-block-wa-media-text.jumbotron:last-child {
  margin-bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron, #main .wp-block-wa-media-text.jumbotron .row {
  align-items: center;
}
#main .wp-block-wa-media-text.jumbotron .row {
  margin: 0;
  max-width: 100vw;
  width: 100%;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border .media {
  position: relative !important;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border .media:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  content: "";
  border-bottom: 25px solid #000;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-primary .media:before {
  border-bottom-color: var(--wa-primary);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-secondary .media:before {
  border-bottom-color: var(--wa-secondary);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-tertiary .media:before {
  border-bottom-color: var(--wa-tertiary);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-fabmar .media:before {
  border-bottom-color: var(--wa-fabmar);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-blue .media:before {
  border-bottom-color: var(--wa-blue);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-yellow .media:before {
  border-bottom-color: var(--wa-yellow);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-white .media:before {
  border-bottom-color: var(--wa-white);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-grey100 .media:before {
  border-bottom-color: var(--wa-grey100);
  bottom: 0;
}
#main .wp-block-wa-media-text.jumbotron.arrow-border.bg-black .media:before {
  border-bottom-color: var(--wa-black);
  bottom: 0;
}
@media (min-width: 768px) {
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right .media:before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    content: "";
    right: unset;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 25px solid #000;
    border-right: 35px solid transparent;
    left: 0;
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-primary .media:before {
    border-left-color: var(--wa-primary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-secondary .media:before {
    border-left-color: var(--wa-secondary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-tertiary .media:before {
    border-left-color: var(--wa-tertiary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-fabmar .media:before {
    border-left-color: var(--wa-fabmar);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-blue .media:before {
    border-left-color: var(--wa-blue);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-yellow .media:before {
    border-left-color: var(--wa-yellow);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-white .media:before {
    border-left-color: var(--wa-white);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-grey100 .media:before {
    border-left-color: var(--wa-grey100);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-right.bg-black .media:before {
    border-left-color: var(--wa-black);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left .media:before {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    content: "";
    left: unset;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid transparent;
    border-right: 25px solid #000;
    right: 0;
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-primary .media:before {
    border-right-color: var(--wa-primary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-secondary .media:before {
    border-right-color: var(--wa-secondary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-tertiary .media:before {
    border-right-color: var(--wa-tertiary);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-fabmar .media:before {
    border-right-color: var(--wa-fabmar);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-blue .media:before {
    border-right-color: var(--wa-blue);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-yellow .media:before {
    border-right-color: var(--wa-yellow);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-white .media:before {
    border-right-color: var(--wa-white);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-grey100 .media:before {
    border-right-color: var(--wa-grey100);
  }
  #main .wp-block-wa-media-text.jumbotron.arrow-border.has-media-on-the-left.bg-black .media:before {
    border-right-color: var(--wa-black);
  }
}
.editor-styles-wrapper #main .wp-block-wa-media-text.jumbotron ul, #main .wp-block-wa-media-text.jumbotron ul, .editor-styles-wrapper #main .wp-block-wa-media-text.jumbotron ol, #main .wp-block-wa-media-text.jumbotron ol {
  margin-left: 0;
  padding-left: 1.2rem;
}
@media (max-width: 767.98px) {
  #main .wp-block-wa-media-text.jumbotron .media {
    align-items: center;
    display: flex;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile .media {
    grid-column: 1 !important;
    grid-row: 1;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile .content {
    grid-column: 1 !important;
    grid-row: 2;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile .content.padding-small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile .content.padding-medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #main .wp-block-wa-media-text.jumbotron.is-stacked-on-mobile .content.padding-large {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
#main .wp-block-wa-posts-preview a:not(.btn), #main .wp-block-wa-posts-preview a.btn-link {
  color: inherit;
}
#main .wp-block-wa-posts-preview .btn-link {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 100%;
}
#main .wp-block-wa-posts-preview.style-masonry .row {
  align-items: flex-start;
}
#main .wp-block-wa-posts-preview.style-masonry .row .single {
  height: 100%;
}
#main .wp-block-wa-posts-preview.style-full-height .single {
  align-items: flex-end;
}
#main .wp-block-wa-posts-preview .row {
  margin-bottom: -2.5rem;
}
#main .wp-block-wa-posts-preview .row .block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2.5rem;
}
#main .wp-block-wa-posts-preview .row .block .read-more {
  margin-top: 2.5rem;
}
#main .wp-block-wa-posts-preview .row .block:hover .image {
  position: relative;
  overflow: hidden;
}
#main .wp-block-wa-posts-preview .row .block:hover .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .wp-block-wa-posts-preview .row .block:hover .image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#main .wp-block-wa-posts-preview .row .block:hover .image:after {
  position: initial;
}
#main .wp-block-wa-posts-preview .block {
  overflow: hidden;
  text-align: left;
}
#main .wp-block-wa-posts-preview .block .jumbotron {
  display: block;
  padding: 0;
}
#main .wp-block-wa-posts-preview .block .jumbotron[class*=has-bg-].wp-block-wa-container {
  color: inherit;
}
#main .wp-block-wa-posts-preview .block .jumbotron .container {
  max-width: none;
  padding: 0;
}
#main .wp-block-wa-posts-preview .block .jumbotron .has-text-align-center, #main .wp-block-wa-posts-preview .block .jumbotron .has-text-align-right, #main .wp-block-wa-posts-preview .block .jumbotron p:not(.alignfull) {
  margin-left: 0;
  text-align: left;
}
#main .wp-block-wa-posts-preview .block .image, #main .wp-block-wa-posts-preview .block .image div, #main .wp-block-wa-posts-preview .block .content, #main .wp-block-wa-posts-preview .block .content div {
  width: 100%;
}
#main .wp-block-wa-posts-preview .block .content {
  line-height: 1.32rem;
}
#main .wp-block-wa-posts-preview .block .content a {
  color: initial;
  font-weight: 300;
  font-size: initial;
  line-height: initial;
  text-align: left;
  text-transform: initial;
}
#main .wp-block-wa-posts-preview .block .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.8rem;
  max-width: 100%;
}
#main .wp-block-wa-posts-preview .block .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .wp-block-wa-posts-preview .block .image:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#main .wp-block-wa-posts-preview .block .image img {
  transition: filter 0.15s ease-in-out, transform 0.15s ease-in-out;
  height: 100%;
  max-width: none;
  min-width: 100%;
  width: auto;
}
#main .wp-block-wa-posts-preview .block .title {
  color: var(--wa-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
#main .wp-block-wa-posts-preview .block .media-block, #main .wp-block-wa-posts-preview .block .bg-block, #main .wp-block-wa-posts-preview .block .overlay-block {
  display: none;
}
#main .wp-block-wa-posts-preview .block .block-link {
  border: none;
}
#main .wp-block-wa-posts-preview .link {
  display: block;
}
#main .wp-block-wa-posts-preview .single {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#main .wp-block-wa-posts-preview .meta {
  color: rgba(var(--wa-body-color-rgb), 0.75) !important;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}
#main .wp-block-wa-posts-preview .meta span {
  width: 50%;
}
#main .wp-block-wa-posts-preview .meta.has-author .date {
  text-align: right;
}
#main .wp-block-wa-posts-preview .label-container, #main .wp-block-wa-posts-preview .archive {
  text-align: center;
}
#main .wp-block-wa-posts-preview .label {
  margin-bottom: 1.8rem;
}
#main .wp-block-wa-posts-preview .archive {
  margin-top: 1.8rem;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .container {
  max-width: none !important;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .container > .row {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -4rem;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .container > .wp-block-group {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .container > div > .wp-block-group__inner-container {
    justify-content: space-between;
    height: 100%;
  }
}
@media (max-width: 991.98px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .btn {
    margin-top: 2rem;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .container {
    margin: 0;
    padding: 0;
  }
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
  max-width: 400px;
  position: relative;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single p {
  line-height: 1.4;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single .excerpt {
  line-height: 1.5;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: center;
  border-radius: 100%;
  height: 200px;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 200px;
  transition: all 2s ease-in;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single .image:hover {
  background-size: 150%;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single button {
  margin-top: 1rem;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single h4 {
  line-height: 1;
  margin-bottom: 0.25rem;
}
@media (min-width: 768px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .wp-block-wa-executive-team-single > .btn {
    margin-top: 1rem;
  }
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal {
  text-align: left;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  max-height: 90vh;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal h4 {
  line-height: 1;
  margin-bottom: 0.25rem;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .modal-body {
  max-width: 100vw;
  padding: 0;
  position: relative;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .content {
  min-height: 70vh;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .row {
  margin: 0;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .close {
  background: none;
  border: none;
  color: #CE2E2D;
  font-weight: 100;
  font-size: 2.25rem;
  opacity: 1 !important;
  position: absolute;
  right: 1rem;
  text-shadow: none;
  top: 1rem;
  z-index: 2;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .close:before {
  border-radius: 100%;
  background: #fff;
  content: "";
  height: 3rem;
  position: absolute;
  width: 3rem;
  opacity: 0.5;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .close:hover {
  color: #000;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .close i {
  padding-top: 17px;
}
#main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .position {
  line-height: 1.4;
}
@media (min-width: 992px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .text {
    max-height: 70vh;
    overflow-y: scroll;
    padding: 2rem;
    overflow-y: auto;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .content {
    max-height: 90vh;
    align-items: stretch;
    display: flex;
    justify-content: center;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .image {
    order: 2;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .btn.p-0 {
    display: none;
  }
}
@media (max-width: 991.98px) {
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .text {
    padding: 1.7rem 1rem;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .image {
    height: 45vh;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .close {
    font-size: 3rem;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .content {
    background: #fff;
  }
  #main .jumbotron.wp-block-wa-executive-team-wrapper .executive-modal .modal-dialog-centered {
    flex-direction: column;
  }
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(206, 46, 45, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-secondary {
  color: #fff !important;
  background-color: RGBA(193, 42, 44, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-tertiary {
  color: #fff !important;
  background-color: RGBA(0, 6, 32, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-fabmar {
  color: #000 !important;
  background-color: RGBA(24, 140, 214, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-blue {
  color: #000 !important;
  background-color: RGBA(0, 160, 220, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-yellow {
  color: #000 !important;
  background-color: RGBA(224, 240, 50, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-white {
  color: #000 !important;
  background-color: RGBA(255, 255, 255, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-grey100 {
  color: #000 !important;
  background-color: RGBA(248, 249, 250, var(--wa-bg-opacity, 1)) !important;
}

.text-bg-black {
  color: #fff !important;
  background-color: RGBA(0, 0, 0, var(--wa-bg-opacity, 1)) !important;
}

.link-primary {
  color: #CE2E2D !important;
}
.link-primary:hover, .link-primary:focus {
  color: #a52524 !important;
}

.link-secondary {
  color: #C12A2C !important;
}
.link-secondary:hover, .link-secondary:focus {
  color: #9a2223 !important;
}

.link-tertiary {
  color: #000620 !important;
}
.link-tertiary:hover, .link-tertiary:focus {
  color: #00051a !important;
}

.link-fabmar {
  color: #188CD6 !important;
}
.link-fabmar:hover, .link-fabmar:focus {
  color: #46a3de !important;
}

.link-blue {
  color: #00A0DC !important;
}
.link-blue:hover, .link-blue:focus {
  color: #33b3e3 !important;
}

.link-yellow {
  color: #e0f032 !important;
}
.link-yellow:hover, .link-yellow:focus {
  color: #e6f35b !important;
}

.link-white {
  color: #fff !important;
}
.link-white:hover, .link-white:focus {
  color: white !important;
}

.link-grey100 {
  color: #f8f9fa !important;
}
.link-grey100:hover, .link-grey100:focus {
  color: #f9fafb !important;
}

.link-black {
  color: #000 !important;
}
.link-black:hover, .link-black:focus {
  color: black !important;
}

.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--wa-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --wa-aspect-ratio: 100%;
}

.ratio-4x3 {
  --wa-aspect-ratio: 75%;
}

.ratio-16x9 {
  --wa-aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --wa-aspect-ratio: 42.8571428571%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

@media (min-width: 576px) {
  .sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .sticky-sm-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}
@media (min-width: 768px) {
  .sticky-md-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .sticky-md-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}
@media (min-width: 992px) {
  .sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .sticky-lg-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}
@media (min-width: 1200px) {
  .sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .sticky-xl-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}
@media (min-width: 1400px) {
  .sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  .sticky-xxl-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}
.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
}
